{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div id="about_page">
    <div class="overlay"></div>
    <div class="container about">
        <div class="row mt-5">
        <div class="col">
            <h1>About us</h1>
            <p>
                Welcome to totally free fitness community where you can develop as an athlete. We offer you as a <a href="{% url 'account_signup' %}">member</a> to be part of us, community where you can get help, or help
                someone with help of our online <a href="#">Blog</a> Also we have <a href="{% url 'products' %}">Online web store</a> where you can find products which can help you developer faster and better. Your
                <a href="#">goals</a>, never mind what it is, we are here for you.
            </p>
        </div>
        </div>
    </div>
</div>
{% endblock %}