{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-----------Section1------>
<section id="section_1">
    <div class="container-headline mx-auto">
        <h1>MAXIMUM EFFORT</h1>
        <h2>STRONGER EVERY DAY!</h2>

        <div class="row d-flex justify-content-center mt-5 mb-3">
            <div class="col-12 d-flex justify-content-center no-gutters">
                <a href="{% url 'account_login' %}" class="btn btn-success btn-lg btn-block text-black">Sign In</a>
            </div>
            <div class="col-12 d-flex justify-content-center no-gutters mt-3">
                <p class="font-weight-bold">Register</p>
            </div>
            <div class="col-12 d-flex justify-content-center no-gutters">
                <a href="{% url 'account_signup' %}" class="btn btn-warning btn-lg btn-block">Become a Member</a>
            </div>
        </div>
    </div>
</section>
<!-----------Section 2 ------>
<section id="section_2">
    <div class="card-container card-group">
        <div class="card">
            <img src="{% static 'media/training.jpg' %}" class="card_img card_img-bottom" alt="" />
            <h3 class="card-title text-center">Goals?</h3>
            <h4 class="text-center">What are Your Goals? We can help you if you want to <a
                    href="{% url 'lose-weight' %}">Lose weight</a>, <a href="#">Gain Weight</a>, if you feel a need to
                improve your <a href="#">Endurance</a>, or if you want to have simply a <a href="#">Healthy Lifestyle.</a>
            </h4>
        </div>
        <div class="card">
            <img src="{% static 'media/blog.jpg' %}" class="card_img card_img-top" alt="" />
            <h3 class="card-title text-center">BLOG Community</h3>
            <h4 class="text-center">Only members can participate in our:</h4>
            <h3 class="text-center p-2"><a href="#"><button href="" type="button"
                        class="btn btn-success btn-lg btn-block">BLOG</button></a></h3>
        </div>
        <div class="card">
            <img src="{% static 'media/squat.jpg' %}" class="card_img card_img-bottom" alt="" />
            <h3 class="card-title text-center">Maximum Effort STORE</h3>
            <h4 class="text-center">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>
            <h3 class="text-center p-2"><a href="{% url 'products' %}"><button type="button"
                        class="btn btn-warning btn-lg btn-block">SHOP NOW!</button></a></h3>
        </div>
    </div>
</section>

<!-----------Section 3 ------>
<section id="section_3">
    <div class="container-headline mx-auto">
        <h2>BLOG IS UNDER CONSTRUCTION</h2>

    </div>
</section>

{% endblock%}