{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay bgprofile"></div>
<div class="container products">
    <div class="row">
        <div class="col">
            <hr>
            <h1 class="text-white mb-4">My Profile</h1>
            <hr>
        </div>
    </div>
    {{ profile }}
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-white">Default Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-warning rounded-0.5 text-uppercase font-weight-bold float-right">Update
                    Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-white">Order History</p>
            {{ orders }}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}