<footer id="fh5co-footer" class="fh5co-bg" role="contentinfo">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 fh5co-widget">
                <h5><strong>Maximum Effort</strong></h5>
                <p>is a gym community, where you can find products which can help you improve your health!!</p>
                <a href="{% url 'account_login' %}" class="btn btn-success btn-lg btn-block text-black">Sign In</a>
                <a href="{% url 'account_signup' %}" class="btn btn-warning btn-lg btn-block">Register</a>
            </div>
          
           
        <div class="row copyright">
            <div class="col text-center">
                <p>
                    <small class="block">&copy; 2022 | All Rights Reserved.</small> 
                </p>
            
        </div>
        </div>
    </div>
    </div>
</footer>