<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-nav" href="#" id="trainings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                YOUR GOALS?
            </a>
            <div class="dropdown-menu border-0.5" aria-labelledby="trainings">
                <a href="" class="dropdown-item">Lose weight</a>
                <a href="" class="dropdown-item ">Gain weight</a>
                <a href="" class="dropdown-item ">Increase Endurance</a>
                <a href="" class="dropdown-item ">Be healthy</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5 text-nav" href="#" id="blog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                BLOG
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-nav" href="#" id="store" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP
            </a>
            <div class="dropdown-menu border-0.5" aria-labelledby="store">
                <a href="{% url 'products' %}" class="dropdown-item">All products</a>
                <a href="{% url 'products' %}?category=bcaa" class="dropdown-item">BCAA</a>
                <a href="{% url 'products' %}?category=vitamins" class="dropdown-item">Vitamins</a>
                <a href="{% url 'products' %}?category=proteins" class="dropdown-item">Proteins</a>
                <a href="{% url 'products' %}?category=fatburner" class="dropdown-item">Fat Burners</a>
                <a href="{% url 'products' %}?category=preworkout" class="dropdown-item">Pre Workout</a>
                <a href="{% url 'products' %}?category=accesories" class="dropdown-item">Accesories</a>
                <a href="{% url 'products' %}?category=mens_cloathing" class="dropdown-item">Mens Cloathing</a>
                <a href="{% url 'products' %}?category=womens_cloathing" class="dropdown-item">Womens Cloathing</a>
            </div>
        </li>

        <li class="nav-item">
            <a href="" class="font-weight-bold nav-link mr-5 text-nav" id="about" aria-haspopup="true" aria-expanded="false">
                ABOUT US
            </a>
        </li>

        <li class="nav-item">
            <a href="" class="font-weight-bold nav-link mr-5 text-nav" id="contact" aria-haspopup="true" aria-expanded="false">
                CONTACT US
            </a>
        </li>
    </ul>
</div>